
.cartcss{
  /* border: 2px solid red; */
  margin-top: 15%;
  display: inline-block;
  padding: 10px;
  background-color: rgb(238, 222, 196, 0.7);
  border-radius: 10px;
}

.cartButton{
  padding: 5px 10px 5px 10px;
  margin: 10px;
  border-radius: 5px;
}

.cartRemoveButton{
  padding: 7px;
  
}

.cartIndex{
  display: block;
  text-align: center;
}

.checkout{
  text-align: center;
}

.checkoutButton{
  margin: 10px;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(227, 163, 79);
}

.orderForm{
  text-align: center;
}

.formField{
  text-align: center;
}

.buttonFinal{
  padding: 7px 20px 7px 20px;
  border-radius: 7px;
  background-color: rgb(227, 163, 79);
}
.orderTextfield{
  padding: 10px;
}

.orderName{
  
 color: yellow;
}